/*Formatting for Basic Info web page*/
body{
	background-image:url("images/basic_bg.jpg");	/*sets background and default text style*/
	background-position:center;
	text-align:center;
	color:Lavender;
	font-family:cursive;
}
h3{
	font-size:18px;		/*sets h3 text style*/
	margin-bottom:5px;
}
h4{
	text-align:left;		/*sets h4 text style*/
	font-weight:normal;
	font-size:18px;
	margin-left:13px;
}
ol{
	list-style:none;	/*removes bullet points*/
	display:inline-flex;	/*displays list items next to each other*/
}
ul{
	list-style:none;	/*removes bullet points*/
	border-bottom:2px dashed LavenderBlush;	/*creates bottom border*/
	padding:39px;
}
li{
	text-align:right;	/*aligns list items*/
	margin-right:26px;
}
img{
	float:right;		/*aligns snow image*/
	margin-right:200px;
	margin-top:20px;
}
.top a{
	margin:52px;	/*sets button style*/
	color:plum;
	font-size:20px;
	font-family:"Times New Roman";
	font-weight:bold;
	text-decoration:none;
}
.top a:hover{
	border:2px solid plum;	/*displays border when mouse hovers over link*/
	padding:5px;
}
.decor{
	float:left;		/*aligns flower and cake image*/
	margin:65px;
}
.border{
	border:4px dotted white;	/*creates image border*/
	padding:2px;
}
.valid img{
	margin:5px;		/*aligns validator images*/
}
#bday:hover::after{
	content: "The exact day I was born was actually a Friday the 13th!"	/*displays bonus info when mouse hovers over*/
}
#indexLink{
	color:plum;		/*sets homepage button style*/
	font-family:"DejaVu Sans Mono", monospace, cursive;
	font-size:39px;
}
#indexLink:hover{
	border:0;	/*overwrites display border rule for .top a*/
}